/**
*
* Dev4IT Customs
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/
/* CSS*/
/* SASS variables*/


$colorLayouts: #297ea9;

$small-width: 400px;
$medium-width: $small-width + 470;
$large-width: $medium-width + 100;

$font-normal: 100;
$font-bold: 300;
$font-bolder: 500;

// Defining font sizes
$font-small: 0.8125em; //13px
$font-base: 100%; //16px
$font-medium: 1.25em; //20px
$font-large: 1.625em; //26px
$font-xlarge: 2.625em; //42px
$font-xxlarge: 4.25em; //68px
$font-huge: 6.875em; //110px

$dev4it-red: #F44336;
$dev4it-yellow: #FFD740;
$dev4it-blue: #40C4FF;
// logo #E74A40
//RED Primary
//100 #FFCDD2
//500 #F44336 Pas mal
//700 #D32F2F
//YELLOW Secondary
//A200 #FFFF00
//Fallback
//A100 #FFFF8D
//A400 #FFEA00
//AMBER Secondary Client
//A200 #FFD740
//Fallback
//A100 #FFE57F
//A400 #FFC400
//LIGHT BLUE
//A200 #40C4FF
//Fallback
//A100 #80D8FF
//A400 #00B0FF
$dev4it-gray: #6E7B7C;
.clear-padding-top {
  padding-top: 0;
}

@mixin material($isHoverReactive: true) {
  box-shadow: 0 1px 2px #999;
  border-radius: 3px;
  transform: translateZ(0);
  transition: box-shadow 0.25s ease-in;
  @if $isHoverReactive {
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

@mixin material-headnav($blur, $color, $radius: 0, $hshw: 0, $vshw: 0) {
  box-shadow: $hshw $vshw $blur $color;
  border-radius: $radius;
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both
}

$bold-font-weight: 500;
@mixin _bold {
  font-weight: $bold-font-weight;
}

@mixin bold {
  & b {
    @include _bold;
  }
}

@mixin _red {
  color: $dev4it-red;
}

@mixin red {
  & r {
    @include _red;
  }
}

@mixin bold-red {
  & b-r {
    @include _bold;
    @include _red;
  }
}

@mixin _blue {
  color: $dev4it-blue;
}

@mixin blue {
  & bl {
    @include _blue;
  }
}

@mixin bold-blue {
  & b-bl {
    @include _bold;
    @include _blue;
  }
}

@mixin _yellow {
  color: $dev4it-yellow;
}

@mixin yellow {
  & y {
    @include _yellow;
  }
}

@mixin bold-yellow {
  & b-y {
    @include _bold;
    @include _yellow;
  }
}

@mixin _black {
  color: #000;
}

@mixin black {
  & bk {
    @include _black;
  }
}

@mixin bold-black {
  & b-bk {
    @include _bold;
    @include _black;
  }
}
