/**
*
* Global
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fbfafb;
  margin: 0;
  padding: 0;
  font-family: $fontDefault;
  overflow-x: hidden;
}

img {
  border: 0;
}

a {
  color: $dev4it-red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 200;
}

ul li {
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  @media only screen and (max-width: $medium-width) {
    font-size: 16px;
    line-height: 28px;
  }
}

p {
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  @media only screen and (max-width: $medium-width) {
    font-size: 16px;
    line-height: 28px;
  }
  & a {
    font-weight: 300;
  }
  &.subtitle {
    font-size: 28px;
    line-height: 37px;
    .hero &:last-child {
      margin-bottom: inherit;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  color: $dev4it-red;
  font-weight: 200;
  font-size: 45px;
  @media only screen and (max-width: $medium-width) {
    line-height: 40px;
    font-size: 30px;
  }
  @media only screen and (max-width: $small-width) {
    font-size: 24px !important;
  }
}

.colored {
  & h2 {
    color: #fff;
  }
  & p {
    color: #fff;
  }
}

h2 {
  color: #212121;
  font-size: 43px;
  margin-bottom: 20px;
  @media only screen and (max-width: $medium-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

h3 {
  font-size: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  &.md {
    max-width: 800px;
  }
  @media only screen and (max-width: $medium-width) {
    padding: 0 40px;
  }
}

.contained-to-header {
  padding: 0 50px;
}

section.hero {
  background-color: #fbfafb;
  background-position: bottom;
  padding: 65px 0 0;
  position: relative;
  min-height: 600px;
  @media only screen and (max-width: $medium-width) {
    min-height: 250px;
    padding: 40px 0;
    & h1 {
      font-size: 30px;
    }
  }
  & .fab-container {
    bottom: 0;
    box-sizing: border-box;
    max-width: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    & .fab {
      bottom: -24px;
      margin: 0 auto;
      text-align: center;
      display: inline-block;
      position: relative;
    }
  }
}

.hidden {
  display: none;
}

.wrap {
  background-color: #fff;
  margin: 0 auto;
}

.colored {
  background: $dev4it-red;
  color: #fff;
  & p {
    color: #fff;
  }
  & .alt {
    background: #2c655a;
  }
  &.blue {
    background: #00bcd4;
    & .alt {
      background: #4b91ef;
    }
  }
  &.teal {
    background: #03bcd4;
  }
  &.yellow {
    background: $dev4it-yellow;
    & h2 {
      color: #000;
      opacity: 0.8;
    }
    & p {
      color: #000;
      opacity: 0.5;
    }
  }
  &.blue {
    background: $dev4it-blue;
    & h2 {
      color: #fff;
      opacity: 1;
    }
    & p {
      color: #fff;
      opacity: 0.7;
    }
  }
}

.centered {
  text-align: center;
  @media only screen and (max-width: $medium-width) {
    text-align: left;
  }
}

.xl {
  margin: 0 auto;
  max-width: 800px;
}

.lg {
  margin: 0 auto;
  max-width: 600px;
}

.med {
  margin: 0 auto;
  max-width: 500px;
}

.content.padded {
  margin: 0 auto;
  padding: 50px;
  @media only screen and (max-width: $medium-width) {
    padding: 10px;
  }
}

.wide {
  width: 100%
}

section {
  padding: 100px 0 90px;
  @media only screen and (max-width: $medium-width) {
    padding: 50px 0 40px;
  }
  @media only screen and (min-width: $medium-width + 1) {
    &.shorter-desktop {
      padding-bottom: 50px;
    }
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }
}

.align-right {
  text-align: right;
}

p.smaller {
  font-size: 12px;
}

.margin-bottom {
  @media only screen and (max-width: 870px) {
    &-mobile:last-child, &-mobile {
      margin-bottom: 40px;
    }
  }
  &-sm:last-child,
  &-sm {
    margin-bottom: 40px;
  }
  &:last-child,
  & {
    margin-bottom: 60px;
  }
  @media only screen and (max-width: $medium-width) {
    &:last-child.desktop, &.desktop {
      margin-bottom: inherit;
    }
  }
}

.margin-top {
  margin-top: 20px
}

.aligner {
  display: table;
  height: 100%;
  width: 100%;
  & .aligned {
    vertical-align: middle;
  }
  &.fixed {
    max-width: 400px;
    margin: 0 auto;
  }
}

section.next-nav {
  padding: 50px 0;
  color: #ddd;
  @media only screen and (max-width: $medium-width) {
    padding: 15px 0 25px;
  }
  & .next {
    color: #757575;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    line-height: 1em;
    text-align: right;
    padding-right: 40px;
    @media only screen and (max-width: $medium-width) {
      font-size: 16px;
      line-height: 28px;
    }
    & md-button {
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      text-transform: initial;
      text-align: right;
      @media only screen and (max-width: $medium-width) {
        font-size: 28px;
        line-height: 34px;
      }
      &.content {
        padding: 10px 0;
      }
      & core-icon {
        position: absolute;
        right: -40px;
        top: 20px;
      }
      @media only screen and (max-width: $medium-width) {
        & core-icon {
          top: 15px;
        }
      }
      &:hover core-icon {
        right: -45px;
      }
    }
  }
}

@media only screen and (max-width: $medium-width) {
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}

.light-gray {
  background: #fbfafb;
}

.clearfix {
  &::after, &:after {
    @include clearfix;
  }
  & .left {
    float: left;
  }
  & .right {
    float: right;
  }
  & .fill {
    overflow: hidden;
    width: auto;
  }
}

section.request-an-invite {
  & md-button {
    font-weight: 500;
  }
  @media only screen and (max-width: $medium-width) {
    padding: 60px 0;
    & br {
      display: none;
    }
  }
}

@include bold;
@include red;
@include blue;
@include yellow;
@include black;
@include bold-red;
@include bold-blue;
@include bold-yellow;
@include bold-black;
