/**
*
* Global
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fbfafb;
  margin: 0;
  padding: 0;
  font-family: $fontDefault;
  overflow-x: hidden;
}

img {
  border: 0;
}

a {
  color: $dev4it-red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: $font-normal;
}

ul li {
  color: #757575;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 32px;
  @media only screen and (max-width: $medium-width) {
    font-size: 16px;
    line-height: 28px;
  }
  /*@media only screen and (max-width: $small-width) {
    font-size: 12px;
    line-height: 24px;
  }*/
}

p {
  color: #757575;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 32px;
  @media only screen and (max-width: $medium-width) {
    font-size: 16px;
    line-height: 28px;
  }
  /*@media only screen and (max-width: $small-width) {
    font-size: 14px;
    line-height: 24px;
  }*/
  
  & a {
    font-weight: $font-bold;
  }
  &.subtitle {
    font-size: 30px;
    line-height: 37px;
    @media only screen and (max-width: $medium-width) {
      font-size: 25px;
      line-height: 32px;
    }
    @media only screen and (max-width: $small-width) {
      font-size: 20px;
      line-height: 27px;
    }
    .hero &:last-child {
      margin-bottom: inherit;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  color: $dev4it-red;
  font-weight: $font-normal;
  font-size: 45px;
  //font-size: 59px;
  @media only screen and (max-width: $medium-width) {
    font-size: 43px;
    //line-height: 55px;
  }
  @media only screen and (max-width: $small-width) {
    font-size: 41px;
    //line-height: 51px;
  }
}

.colored {
  & h2 {
    color: #fff;
  }
  & p {
    color: #fff;
  }
}

h2 {
  color: #212121;
  margin-bottom: 20px;
  font-size: 43px;
  line-height: 57px;
  @media only screen and (max-width: $medium-width) {
    font-size: 33px;
    line-height: 47px;
  }
  @media only screen and (max-width: $small-width) {
    font-size: 23px;
    line-height: 37px;
  }
}

h3 {
  font-size: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  &.md {
    max-width: 800px;
  }
  @media only screen and (max-width: $medium-width) {
    padding: 0 40px;
  }
  @media only screen and (max-width: $small-width) {
    padding: 0 10px;
  }
}

.contained-to-header {
  padding: 0 50px;
}

.hidden {
  display: none;
}

.wrap {
  background-color: #fff;
  margin: 0 auto;
}

.colored {
  background: $dev4it-red;
  color: #fff;
  & p {
    color: #fff;
  }
  & .alt {
    background: #2c655a;
  }
  &.blue {
    background: #00bcd4;
    & .alt {
      background: #4b91ef;
    }
  }
  &.teal {
    background: #03bcd4;
  }
  &.yellow {
    background: $dev4it-yellow;
    & h2 {
      color: #000;
      opacity: 0.8;
    }
    & p {
      color: #000;
      opacity: 0.5;
    }
  }
  &.blue {
    background: $dev4it-blue;
    & h2 {
      color: #fff;
      opacity: 1;
    }
    & p {
      color: #fff;
      opacity: 0.7;
    }
  }
}

.centered {
  text-align: center;
  @media only screen and (max-width: $medium-width) {
    text-align: left;
  }
}

.xl {
  margin: 0 auto;
  max-width: 800px;
}

.lg {
  margin: 0 auto;
  max-width: 600px;
}

.med {
  margin: 0 auto;
  max-width: 500px;
}

.content.padded {
  margin: 0 auto;
  padding: 50px;
  @media only screen and (max-width: $medium-width) {
    padding: 10px;
  }
}

.wide {
  width: 100%
}

section {
  //padding: 90px 0 81px;
  padding: 70px 0 51px;
  @media only screen and (max-width: $medium-width) {
    //padding: 45px 0 40px;
    padding: 35px 0 25px;
  }
}

.align-right {
  text-align: right;
}

p.smaller {
  font-size: 12px;
}

.margin-bottom {
  @media only screen and (max-width: 870px) {
    &-mobile:last-child, &-mobile {
      margin-bottom: 40px;
    }
  }
  &-sm:last-child,
  &-sm {
    margin-bottom: 40px;
  }
  &:last-child,
  & {
    margin-bottom: 60px;
  }
  @media only screen and (max-width: $medium-width) {
    &:last-child.desktop, &.desktop {
      margin-bottom: inherit;
    }
  }
}

.margin-top {
  margin-top: 20px
}

.aligner {
  display: table;
  height: 100%;
  width: 100%;
  & .aligned {
    vertical-align: middle;
  }
  &.fixed {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $medium-width) {
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}

.light-gray {
  background: #fbfafb;
}

.clearfix {
  &::after, &:after {
    @include clearfix;
  }
  & .left {
    float: left;
  }
  & .right {
    float: right;
  }
  & .fill {
    overflow: hidden;
    width: auto;
  }
}

@include bold;
@include red;
@include blue;
@include yellow;
@include black;
@include bold-red;
@include bold-blue;
@include bold-yellow;
@include bold-black;
