/**
*
* Grid
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

$gutter-width: 4%;
@function column-width($nth-column, $nb-columns: 12, $margin-left: 4%) {
  @return (100% - ((($nb-columns / $nth-column) - 1) * $margin-left)) / ($nb-columns / $nth-column);
}

.column {
  &, &s {
    width: 100%;
    float: left;
    @media (min-width: $small-width) {
      margin-left: $gutter-width;
      &.contained img {
        max-width: 100%;
      }
      &:first-child {
        margin-left: 0;
      }
      .reversed & {
        margin-left: 0;
      }
      .reversed &:first-child {
        float: right;
        margin-left: $gutter-width;
      }
    }
  }
  &s.two {
    width: column-width(6);
  }
  &s.three {
    width: column-width(4);
  }
  &s.four {
    width: column-width(4);
  }
  &s.five {
    width: column-width(5);
  }
  &s.seven {
    width: column-width(7);
  }
  &s.eight {
    width: column-width(8);
  }
  &s.nine {
    width: column-width(9);
  }
  &s.ten {
    width: column-width(10);
  }
  &.one-third {
    width: column-width(1, 3);
    @media (max-width: $medium-width) {
      width: 100%;
      margin-left: 0;
    }
  }
  &.two-thirds {
    width: column-width(2, 3);
    @media (max-width: $medium-width) {
      width: 100%;
      margin-left: 0;
    }
  }
  &.one-half {
    width: column-width(1, 2);
    @media (max-width: $medium-width) {
      width: 100%;
      margin-left: 0;
    }
  }
  &s.two,
  &s.three,
  &s.four,
  &s.five,
  &s.seven,
  &s.eight,
  &s.nine,
  &s.ten,
  &.one-third,
  &.two-thirds,
  &.one-half {
    @media (max-width: $medium-width) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.row {
  &::after, &:after {
    @include clearfix;
  }
}
