/**
*
* Grid
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

$gutter-width: 4%;
@function column-width($nth-column, $nb-columns: 12, $margin-left: 4%) {
  @return (100% - ((($nb-columns / $nth-column) - 1) * $margin-left)) / ($nb-columns / $nth-column);
}

.column {
  &, &s {
    width: 100%;
    float: left;
    @media (min-width: $small-width) {
      margin-left: $gutter-width;
      &.contained img {
        max-width: 100%;
      }
      &:first-child {
        margin-left: 0;
      }
      /*& .reversed {
        margin-left: 0;
      }
      &:first-child .reversed {
        float: right;
        margin-left: $gutter-width;
      }
      &.one {
        width: column-width(1); // first of a 12 cells table grid
      }
      &.offset-by-one {
        margin-left: column-width(1) + $gutter-width; 
      }
      &.offset-by-two {
        margin-left: column-width(2) + $gutter-width;
      }
      &.offset-by-three {
        margin-left: column-width(3) + $gutter-width;
      }
      &.offset-by-four {
        margin-left: column-width(4) + $gutter-width;
      }
      &.offset-by-five {
        margin-left: column-width(5) + $gutter-width;
      }
      &.offset-by-six {
        margin-left: column-width(6) + $gutter-width;
      }
      &.offset-by-seven {
        margin-left: column-width(7) + $gutter-width;
      }
      &.offset-by-eight {
        margin-left: column-width(8) + $gutter-width;
      }
      &.offset-by-nine {
        margin-left: column-width(9) + $gutter-width;
      }
      &.offset-by-ten {
        margin-left: column-width(10) + $gutter-width;
      }
      &.offset-by-eleven {
        margin-left: column-width(11) + $gutter-width;
      }
      &.offset-by-one-third {
        margin-left: column-width(1, 3) + $gutter-width;
      }
      &.offset-by-two-thirds {
        margin-left: column-width(2, 3) + $gutter-width;
      }
      &.offset-by-one-half {
        margin-left: column-width(1, 2) + $gutter-width;
      }*/
    }
  }
  //@media (min-width: $small-width) {
  /*&s.one {
      width: column-width(1);
    }
    &s.two {
      width: column-width(2);
    }*/
  
  &s.four {
    width: column-width(3);
    @media (max-width: $large-width) {
      #main & {
        width: column-width(5);
        margin-left: $gutter-width + 5;
      }
    }
    @media (max-width: $medium-width - 200) {
      width: 100%;
      margin-left: 0;
    }
  }
  &s.three {
    width: column-width(4);
    @media (max-width: $medium-width) {
      width: column-width(6);
      &:last-child {
        margin-left: 0;
      }
    }
    @media (max-width: $medium-width - 100) {
      width: 100%;
      margin-left: 0;
    }
  }
  &s.two {
    width: column-width(6);
    @media (max-width: $medium-width) {
      width: 100%;
      margin-left: 0;
    }
  }
  /*&s.seven {
      width: column-width(7);
    }
    &s.eight {
      width: column-width(8);
    }
    &s.nine {
      width: column-width(9);
    }
    &s.ten {
      width: column-width(10);
    }
    &s.eleven {
      width: column-width(11);
    }
    &s.twelve {
      width: 100%;
      margin-left: 0
    }*/
  
  &.one-third {
    width: column-width(1, 3);
  }
  &.two-thirds {
    width: column-width(2, 3);
  }
  &.one-half {
    width: column-width(1, 2);
  }
  //}
}

.row {
  /*@media (min-width: $medium-width) {
    &.table>.columns {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
    &.table>.columns:nth-child(2) {
      padding-left: $gutter-width;
    }
  }*/
  
  &:after {
    @include clearfix;
  }
  /*@media (max-width: $medium-width) {
    &.row-sm .column, &.row-sm .columns {
      margin-left: $gutter-width;
    }
    &.row-sm .column:first-child,
    &.row-sm .columns:first-child {
      margin-left: 0;
    }
    &.row-sm .one.column,
    &.row-sm .one.columns {
      width: column-width(1);
    }
    &.row-sm .two.columns {
      width: column-width(2);
    }
    &.row-sm .three.columns {
      width: column-width(3);
    }
    &.row-sm .four.columns {
      width: column-width(4);
    }
    &.row-sm .five.columns {
      width: column-width(5);
    }
    &.row-sm .six.columns {
      width: column-width(6);
    }
    &.row-sm .seven.columns {
      width: column-width(7);
    }
    &.row-sm .eight.columns {
      width: column-width(8);
    }
    &.row-sm .nine.columns {
      width: column-width(9);
    }
    &.row-sm .ten.columns {
      width: column-width(10);
    }
    &.row-sm .eleven.columns {
      width: column-width(11);
    }
    &.row-sm .twelve.columns {
      width: 100%;
      margin-left: 0;
    }
    &.row-sm .one-third.column {
      width: column-width(1, 3);
    }
    &.row-sm .two-thirds.column {
      width: column-width(2, 3);
    }
    &.row-sm .one-half.column {
      width: column-width(1, 2);
    }
    &.row-sm .offset-by-one.column,
    &.row-sm .offset-by-one.columns {
      margin-left: 8.66667%;
    }
    &.row-sm .offset-by-two.column,
    &.row-sm .offset-by-two.columns {
      margin-left: 17.33333%;
    }
    &.row-sm .offset-by-three.column,
    &.row-sm .offset-by-three.columns {
      margin-left: 26%;
    }
    &.row-sm .offset-by-four.column,
    &.row-sm .offset-by-four.columns {
      margin-left: 34.66667%;
    }
    &.row-sm .offset-by-five.column,
    &.row-sm .offset-by-five.columns {
      margin-left: 43.33333%;
    }
    &.row-sm .offset-by-six.column,
    &.row-sm .offset-by-six.columns {
      margin-left: 52%;
    }
    &.row-sm .offset-by-seven.column,
    &.row-sm .offset-by-seven.columns {
      margin-left: 60.66667%;
    }
    &.row-sm .offset-by-eight.column,
    &.row-sm .offset-by-eight.columns {
      margin-left: 69.33333%;
    }
    &.row-sm .offset-by-nine.column,
    &.row-sm .offset-by-nine.columns {
      margin-left: 78%;
    }
    &.row-sm .offset-by-ten.column,
    &.row-sm .offset-by-ten.columns {
      margin-left: 86.66667%;
    }
    &.row-sm .offset-by-eleven.column,
    &.row-sm .offset-by-eleven.columns {
      margin-left: 95.33333%;
    }
    &.row-sm .offset-by-one-third.column,
    &.row-sm .offset-by-one-third.columns {
      margin-left: 34.66667%;
    }
    &.row-sm .offset-by-two-thirds.column,
    &.row-sm .offset-by-two-thirds.columns {
      margin-left: 69.33333%;
    }
    &.row-sm .offset-by-one-half.column,
    &.row-sm .offset-by-one-half.columns {
      margin-left: 52%;
    }
  }*/
}
