/**
*
* Main
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/


.main {

  position: relative;
  top: $header-height + $nav-height;

  width: 100%;

  @media all and (max-width: $tablet-width) {

    top: $header-height-media;
  }
}
