md-tab {
  color: black;
  opacity: 1;
  padding: 30px 13px;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  transition: opacity 222ms ease;
  position: relative;
  overflow: hidden;
  display: inline-block;
    @media only screen and (min-width: $medium-width + 100) {
      padding: 30px 15px;
    }
  & .content {
    transition: opacity .1s cubic-bezier(0.4, 0.0, 1, 1), color .1s cubic-bezier(0.4, 0.0, 1, 1);
    height: 100%;
    margin: 0 10px;
    opacity: 0.6;
  }
  &:hover {
    background: #F5F5F5;
  }
  &:hover .content,
  &:active .content,
  &.active .content {
    opacity: 1 !important;
  }
  &:active,
  &.active {
    padding-bottom: 25px;
    border-bottom: 5px solid $dev4it-red;
  }
}

md-button {
  font-weight: $font-bold;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
  min-width: 5.14em;
  margin: 0 0.19em;
  text-transform: uppercase;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
  &.shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
  @media only screen and (max-width: $medium-width) {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  &.content {
    padding: 0.7em 0.57em;
  }
  &.plain {
    padding-top: 1px;
  }
  &.inline {
    min-width: 0;
    margin: 0;
  }
  &.inverted {
    background-color: #fff;
    color: $dev4it-red;
  }
  &.blue {
    background-color: $dev4it-blue;
    color: #fff;
    a & {
      color: $dev4it-blue;
    }
    &.inverted {
      background-color: #fff;
      color: $dev4it-blue;
      a & {
        color: #fff;
      }
    }
  }
  &.yellow {
    background-color: $dev4it-yellow;
    color: #fff;
    a & {
      color: $dev4it-yellow;
    }
    &.inverted {
      background-color: #fff;
      color: $dev4it-yellow;
      a & {
        color: #fff;
      }
    }
  }
  &.arrowed {
    padding-left: 0;
    padding-right: 0;
    font-weight: $font-bolder;
  }
  &.standard-case {
    text-transform: none;
  }
  & i {
    opacity: 0.6;
    color: $dev4it-gray;
  }
  &:hover i {
    opacity: 1 !important;
    padding-left: 5px;
    color: $dev4it-red;
  }
}

md-icon-button {
  display: inline-block;
  position: relative;
  padding: 8px;
  cursor: pointer;
  z-index: 0;
  & i {
    color: $dev4it-gray;
    vertical-align: middle;
    opacity: 0.6;
    position: relative;
    &:hover {
      opacity: 1 !important;
    }
  }
  &:hover {
    background: #F5F5F5;
  }
  &:active {
    background: $dev4it-red;
    border-radius: 50%;
  }
}

md-fab {
  display: inline-block;
  padding: -10px;
  animation: grow ease-out .5s;
  color: $dev4it-red;
  &.white {
    color: #fff;
  }
}

md-fab,
md-button {
  & i {
    vertical-align: text-bottom;
    &.s36 {
      font-size: 36px;
    }
    &.s48 {
      font-size: 48px;
    }
    &.s72 {
      font-size: 72px;
    }
  }
}
