/**
*
* Dev4Why, Dev4What, Dev4You
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

.dev4why,
.dev4what,
.dev4you,
.contact {
  & h1 {
    color: $dev4it-red;
    max-width: 750px;
  }
  & .colored {
    & .row {
      margin: 0 auto;
      max-width: 1000px;
    }
    & .content.padded {
      padding: 80px 20px;
      @media only screen and (max-width: $medium-width) {
        padding: 20px;
      }
      @media only screen and (max-width: $small-width) {
        padding: 10px;
      }
    }
  }
  & .highlight {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    margin: -40px;
    margin-right: 0;
    @media only screen and (max-width: $medium-width) {
      padding: 20px;
      margin: -20px;
    }
    @media only screen and (max-width: $small-width) {
      padding: 10px;
      margin: -10px;
    }
  }
}

.about {
  & .align {
    margin-bottom: 2px;
    @media only screen and (max-width: $medium-width) {
      margin-bottom: 3px;
    }
  }
}
