/**
*
* Home
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/


.home {

  & section {

    //margin-top: $lineHeight;
    //margin-bottom: $lineHeight;

    border-bottom: 1px solid #ccc;
    border-top: 1px solid transparent;

    padding-bottom: $lineHeight - 1;

    height: 200px;

    //line-height:  $lineHeight;
  }

  /*& .styleguide__color-list {
    text-align: center;

    & li {
      border-bottom: $lineHeight*2 solid;
      margin-bottom: $lineHeight;
      position: relative;
    }
  }

  & .styleguide__breadcrumb .breadcrumbs{
    display: block;
  }

  & .styleguide__inverted-block {
    background: #e8e8e8;
    padding: 0 13px;
  }

  & .styleguide__theme-block {
    background: $colorLayouts;
    padding: 0 13px;
  }

  & .styleguide__typography p {
    padding-bottom: 26px;
    padding-top: 0;
  }

  & .styleguide__typography>strong {
    padding-top: $lineHeight;
  }

  & .styleguide__case-study-wrapper {

    & .case-study-wrapper {
      margin-top: 0;
    }

  }

  & .container pre {
    margin: 0;
  }*/

}

:target {

  position: relative;
  top: -($header-height + $nav-height);
  
  display: block;

  @media all and (max-width: $media-max-width) {

    top: -$header-height-media;
  }
}
