/**
*
* Home
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

.home {
  background: #fff;
  & h1 {
    color: #212121;
    margin-bottom: 50px;
    @media only screen and (max-width: $medium-width) {
      margin-bottom: inherit;
    }
  }
  & section.hero {
    background-color: transparent;
    padding-bottom: 0;
    min-height: 0;
    @media only screen and (min-width: $medium-width + 1) {
      min-height: 420px;
      padding-top: 130px;
      padding-bottom: 50px;
    }
    & .intro {
      max-width: 510px;
      margin-bottom: 30px;
      & p {
        margin-top: 0;
      }
      @media only screen and (max-width: $medium-width) {
        max-width: 600px;
      }
    }
    & .logo {
      max-width: 90%;
      margin-left: 10%;
      margin-right: 10%;
    }
    & .logo-min {
      max-width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
    & md-button {
      color: #757575;
      font-size: 18px;
      font-weight: $font-bold;
      line-height: 32px;
      margin: 0 0 0 -2px;
      @media only screen and (max-width: $medium-width) {
        font-size: 16px;
        line-height: 28px;
      }
    }
    & .animatic {
      padding-top: 25px;
      margin-bottom: 30px;
      max-width: 100%;
      text-align: center;
      & d {
        display: inline-block;
        color: $dev4it-red;
        font-weight: $font-normal;
        font-size: 22px;
        @media only screen and (max-width: $large-width) {
          font-size: 20px;
        }
      }
    }
  }
  & #main {
    padding: 0 0 80px;
    @media only screen and (max-width: $medium-width) {
      padding-bottom: 35px;
    }
    & md-button {
      font-size: 26px;
      text-align: left;
      font-weight: $font-bold;
      & core-icon {
        margin-left: 15px;
      }
      &:hover core-icon {
        margin-left: 20px;
        color: $dev4it-red;
      }
    }
    & p {
      margin-top: 0;
      @media only screen and (max-width: $medium-width) {
        margin-bottom: 20px;
      }
      &.link {
        margin-bottom: 0;
      }
    }
  }
}
