/**
*
* Home
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

.home {
  background: #fff;
  & h1 {
    color: #212121;
    margin-bottom: 50px;
    @media only screen and (max-width: $tablet-width) {
      margin-bottom: inherit;
    }
  }
  & section.hero {
    background-color: transparent;
    padding-bottom: 0;
    min-height: 0;
    @media only screen and (min-width: $tablet-width + 1) {
      min-height: 420px;
      padding-top: 100px;
      padding-bottom: 15px;
    }
    & .intro {
      max-width: 710px;
      margin-bottom: 30px;
      & p {
        margin-top: 0;
      }
      @media only screen and (max-width: $tablet-width) {
        margin-bottom: 15px;
      }
    }
    & md-button {
      color: #757575;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin: 0 0 0 -2px;
      @media only screen and (max-width: $tablet-width) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
  & #main {
    padding: 0 0 80px;
    @media only screen and (max-width: $tablet-width) {
      padding-bottom: 35px;
    }
    & md-button {
      font-size: 26px;
      text-align: left;
      font-weight: 300;
      & core-icon {
        margin-left: 15px;
      }
      &:hover core-icon {
        margin-left: 20px;
      }
    }
    & p {
      margin-top: 0;
      @media only screen and (max-width: $tablet-width) {
        margin-bottom: 20px;
      }
      &.link {
        margin-bottom: 0;
      }
    }
  }
  & .animatic {
    padding-top: 25px;
    box-sizing: border-box;
    max-width: 100%;
    & def {
      display: inline-block;
      color: $dev4it-gray;
      font-weight: 200;
      font-size: 35px;
      & .red {
        color: $dev4it-red;
      font-weight: 400;
      }
    }
  }
}
