/**
*
* Global
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/


* {

  box-sizing: border-box;
}

html, body, button {

  font-smoothing: antialiased;
}

body {
  
  line-height: $fontLarge;

  font-family: $fontDefault;
  font-size: $fontBase;
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  
  color: $colorText;

  @include baseline-grid();
}
