/**
*
* Navigation
*
* Dev4IT
*
* R/GA 2015
* @author Guillaume Fesquet
*
**/

.head {
  position: fixed;
  top: 0;

  height: $header-height;
  width: 100%;

  overflow: hidden;

  background-color: $dev4it-red;
}

.nav {
  position: fixed;
  top: $header-height;

  height: $nav-height;
  width: 100%;

  overflow: hidden;

  background-color: $dev4it-gray;
}

.main {
  position: absolute;
  top: $header-height + $nav-height;

  width: 100%;
  //height: 6000px;

  overflow: hidden;

  /*border: 2px solid black;
  background-color: black;*/

  :target {
    position: absolute;
    top: -($header-height + $nav-height) + 1;
    
    transition: background-color 0.5s ease-out;
  }
}

.foot {
  position: fixed;
  bottom: 0;

  width: 100%;

  overflow: hidden;

  /*border: 2px solid blue;
  background-color: blue;*/
}

@media all and (max-width: $media-max-width) {

  .head {
    height: $header-height-media;
  }

  .nav {
    top: 0;
    right: 60px;

    width: $nav-width-media;
  }

  .main {
    top: $header-height-media;

    :target {
      top: -$header-height-media + 1;

      transition: background-color 0.2s ease-out;
    }
  }
}


.navigation {
  z-index: 1;
  position: fixed;
  top: $header-height;
  left: 0;
  
  margin-top: 0;
  padding: 0 16px;

  width: 100%;
  height: $nav-height;

  background-color: $dev4it-gray;
  color: #fefefe;
  transform: none;
  transition: none;
  overflow-y: auto;

  & h4, & ul li a {
    height: $nav-height;
    padding: 17px 20px;
    line-height: 1.4;
  }

  & h4 {
    background-color: white;
    color: $dev4it-gray;
  }

  & ul {
    padding: 0;
    margin: 0;
    
    list-style-type: none;

    text-align: right;
    //display: flex;
    //flex-direction: row;

    & li {
      border: none;
      display: inline-block;

      &::before {
        content: none;
      }

      & a {
        display: block;
        text-decoration: none;
        color: white;
        transition: background-color 0.2s ease-out;
        white-space: nowrap;

        &::before {
          content: none;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:focus {
          background-color: rgba(255, 255, 255, 0.3);
          outline: 0;
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  @media all and (max-width: $media-max-width) {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: $nav-width-media;
    background-color: $dev4it-gray;
    color: #fefefe;
    //transform: translate($nav-width-media, 0);
    //overflow-y: inherit;
  
    & .open {
      transform: translate(-$nav-height, 0);
    }

    & .opened {
      transition: transform 0.3s ease-out;
    }

    & ul {
      text-align: center;
    
      & li {
        display: block;
      }
    }
  }  
}
