/**
*
* Section
*
* Dev4IT 
*
* 2015
* @author Guillaume Fesquet
*
**/

.section-title {
  color: $colorGrayDark;
  //margin-top: $lineHeight;
}

.section-number {
  @include type--base;
  padding-top: 0;
  display: block;
}
